

html {
  height: 100%;
  width: 100%;
  background-color:  lightgrey;
}

body {
  background-color:  lightgrey; 
}
  
#presented {
  color: green
}

.img-thumbnail {
  width: 25%; 
  height: auto;
  border: 10px solid black;  
} 
  
.blue {
  color:blue;
}

#red {
  color: red;
}

.rowt {
  text-align: center; 
  background-color: rgb(226, 25, 159);

}

.row{
  margin-bottom: 3px; 
  background-color: orange; 
}

h1, h3, h5 {
  color: black;
}
